.segmented-input {
	position: relative;
	display: inline-block;
	width: 100%;
	border-radius: var(--border-radius-sm);
	font-size: 0.75rem;
}

.labels {
	display: flex;
}

.label {
	position: relative;
	display: block;
	width: 100%;
}

.input {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
	appearance: none;
	cursor: pointer;

	&:hover ~ .children {
		background: var(--color-foreground);
		color: var(--color-font-primary);
	}
}

.children {
	display: flex;
	min-width: 24px;
	height: 24px;
	align-items: center;
	justify-content: center;
	padding: 0.25rem 1rem;
	border: 1px solid transparent;
	color: var(--color-font-tertiary);
	white-space: nowrap;

	& img {
		height: 1rem;
	}
}
.input:checked ~ .children {
	background: var(--color-foreground);
	border-radius: var(--border-radius-sm);
	color: var(--color-font-primary);
}

.segmented-input:hover .input:checked ~ .children,
.segmented-input:focus-within .input:checked ~ .children {
	border-radius: var(--border-radius-sm);
}
.segmented-input:hover .label:first-child .input:checked ~ .children {
	border-bottom-left-radius: var(--border-radius-sm);
	border-top-left-radius: var(--border-radius-sm);
}
.segmented-input:hover .label:last-child .input:checked ~ .children {
	border-bottom-right-radius: var(--border-radius-sm);
	border-top-right-radius: var(--border-radius-sm);
}

.border {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	border: 1px solid rgba(255, 255, 255, 0.1);
	border-radius: var(--border-radius-sm);
	pointer-events: none;
}
.segmented-input:hover .border {
	border: 1px solid rgba(255, 255, 255, 0.15);
}
