@import url('https://rsms.me/inter/inter.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&display=swap');

:root {
	--font-size: 14px;
	font-size: var(--font-size);
	/*
	 * Typo
	 */
	--sans-serif-font: 'Inter var', -apple-system, BlinkMacSystemFont,
		sans-serif;
	--key-font: 'DM Sans', apple-system, BlinkMacSystemFont, sans-serif;

	--size-font-sm: 0.875rem;

	/*
	 * Colors
	 */
	--color-font-primary: rgb(238, 245, 255);
	--color-font-secondary: rgba(238, 245, 255, 0.6);
	--color-font-tertiary: rgba(238, 245, 255, 0.2);

	--color-font-link: rgba(238, 245, 255, 0.3);
	--color-font-link-hover: rgba(238, 245, 255, 0.8);

	--color-body: rgb(32, 34, 37); //
	--color-background: rgb(41, 43, 47); //
	--color-foreground: rgb(54, 57, 63); //

	--color-primary: rgb(248, 224, 176);
	--color-green: rgb(36, 161, 109);
	--color-lightgreen: rgb(141, 221, 122);
	--color-lavender: rgb(136, 107, 214);
	--color-red: rgb(185, 66, 66);

	// Building icons
	--color-building-economic: radial-gradient(
		100% 100% at 50.51% 0%,
		var(--color-foreground) 0%,
		var(--color-background) 100%
	);
	--color-building-military: radial-gradient(
		100% 100% at 50.51% 0%,
		#96644a 0%,
		#734126 100%
	);
	--color-building-fort: var(--color-building-economic);
	--color-building-research: radial-gradient(
		100% 100% at 50.51% 0%,
		#53c2ac 0%,
		#2b7865 100%
	);

	/*
	 * Layout
	 */

	--layout-max-width: 600px;

	--horizontal-gap: 1rem;
	--vertical-gap: 2rem;

	--border-radius: 0.5rem;
	--border-radius-sm: 0.25rem;
	--border-radius-lg: 0.75rem;
}

body {
	overflow: hidden;
	margin: 0;
	background: var(--color-body);
	color: var(--color-font-primary);
	font-family: var(--sans-serif-font);
	font-size: var(--font-size);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

// TODO: Refactor this file and create some hierarchy

footer {
	font-size: var(--size-font-sm);

	& img {
		height: 0.75rem;
		margin: 0 0.25rem -0.125rem 0.25rem;
	}
}

.footer {
	position: fixed;
	bottom: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	& span:first-child {
		margin-bottom: calc(var(--vertical-gap) / 1.5);
	}
}

button {
	font-family: var(--sans-serif-font);
}

a {
	color: var(--color-font-link);
	text-decoration: none;

	&:hover {
		color: var(--color-font-link-hover);
	}
}

ul {
	display: flex;
	list-style: none;

	& li:not(:last-child) {
		margin-right: calc(var(--horizontal-gap) / 2);

		&::after {
			margin-left: calc(var(--horizontal-gap) / 2);
			content: '•';
			font-size: 0.75rem;
			opacity: 0.25;
		}
	}

	& a ~ img {
		margin-left: 0.5rem;
	}
}

// Temporary
.new {
	padding: 0.25rem 0.5rem;
	margin-left: 0.25rem;
	background: var(--color-lavender);
	border-radius: var(--border-radius-sm);
	font-size: 0.75rem;
	vertical-align: middle;
}

@media (min-width: 769px) {
	:root {
		--font-size: 16px;
	}
}
