.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	:global(.debug) & {
		border: 1px solid orange;
	}

	& h1,
	& h2 {
		max-width: 75%;
		padding: var(--vertical-gap) 0;
		font-size: 2rem;
		font-weight: 600;
		letter-spacing: -0.02em;
		line-height: 1.25;
		text-align: center;

		:global(.debug) & {
			border: 1px solid orange;
		}
	}

	& h1 {
		padding-bottom: 0;
		margin-bottom: 0.75rem;
		color: var(--color-font-primary);
	}

	& h2 {
		padding-top: 0;
		margin-top: 0;
		color: var(--color-font-tertiary);
	}
}

.logo {
	width: 100px;
	height: 100px;
	background: #000;
	border-radius: 100%;

	:global(.debug) & {
		border: 1px solid orange;
	}
}
