.container {
	display: flex;

	& h2 {
		margin: 0 0 2rem 0;
	}
}

.options {
	height: 100%;
	padding: 3rem;
}

.item {
	margin-bottom: var(--vertical-gap);
}

.label {
	margin-bottom: 0.75rem;
	font-size: var(--size-font-sm);
	font-weight: 300;
	opacity: 0.5;
}

.children {
	display: flex;
}
