.result-row {
	display: flex;
	margin-bottom: calc(var(--vertical-gap) * 2);

	& div:not(:last-child) {
		margin-right: var(--horizontal-gap);
	}
}

.item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem 3rem;
	background: var(--color-background);
	border-radius: var(--border-radius-lg);

	& h2 {
		margin: 0;
		margin-bottom: 1rem;
		color: var(--color-primary);
		font-size: 2rem;
		font-weight: 700;
	}

	& span {
		font-size: var(--size-font-sm);
		font-weight: 600;
		letter-spacing: 0.02em;
		opacity: 0.4;
		text-transform: uppercase;
		white-space: nowrap;
	}
}
