.footer {
	position: fixed;
	bottom: 4rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: var(--size-font-sm);

	& ul {
		display: flex;
		list-style: none;

		& li:not(:last-child) {
			margin-right: calc(var(--horizontal-gap) / 2);

			&::after {
				margin-left: calc(var(--horizontal-gap) / 2);
				content: '•';
				font-size: 0.75rem;
				opacity: 0.25;
			}
		}

		& a {
			color: var(--color-font-link);
			text-decoration: none;

			&:hover {
				color: var(--color-font-link-hover);
			}
		}

		& a ~ img {
			margin-left: 0.5rem;
		}
	}

	& span:first-child {
		margin-bottom: calc(var(--vertical-gap) / 1.5);
	}

	& img {
		display: inline-block;
		height: 0.75rem;
		margin: 0 0.25rem -0.125rem 0.25rem;
	}
}
