.wrapper {
	display: flex;
	width: 100%;
	min-height: 100vh;
	align-items: center;
	justify-content: center;
	transition: background-color 0.2s;
}

.container {
	display: flex;
	max-width: var(--layout-max-width);
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 auto;

	.debug & {
		border: 1px solid red;
	}
}

.button-row {
	display: flex;

	& button:first-child {
		margin-right: var(--horizontal-gap);
	}
}
