.button {
	padding: 1rem 1.5rem;
	border: none;
	border: 1px solid var(--color-foreground);
	background: none;
	border-radius: var(--border-radius);
	color: var(--color-font-primary);
	cursor: pointer;
	font-size: 1.125rem;
	font-weight: 400;

	&.primary {
		border: 1px solid transparent;
		background: var(--color-primary);
		color: rgba(0, 0, 0, 0.8);
		font-weight: 600;

		&:hover {
			box-shadow: 0 0 24rem rgba(255, 255, 255, 0.25) inset;
		}
	}

	&:hover {
		box-shadow: 0 0 24rem rgba(255, 255, 255, 0.05) inset;
	}
}
