.label {
	display: block;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	padding: 0.5rem 0.75rem 0.5rem 0.5rem;
	border: 1px solid transparent;
	border-radius: var(--border-radius);
	color: var(--color-font-secondary);
	cursor: pointer;
	font-size: var(--size-font-sm);
	text-transform: capitalize;
	user-select: none;

	& input[type='checkbox'] {
		width: 0.75rem;
		height: 0.75rem;
		margin-right: 0.5rem;
		appearance: none;
		background-image: url("data:image/svg+xml,%3Csvg width='100%' height='100%' viewBox='0 0 8 8' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Ccircle cx='4' cy='4' r='2' fill='rgba(255,255,255,0.1)'/%3E%3C/svg%3E%0A");
		background-position: center;
		background-repeat: no-repeat;
	}

	&.checked {
		border: 1px solid rgba(255, 255, 255, 0.1);
		background: var(--color-foreground);
		color: var(--color-font-primary);
		& input[type='checkbox'] {
			width: 0.75rem;
			height: 0.75rem;
			margin-right: 0.5rem;
			background-image: url("data:image/svg+xml,%3Csvg width='100%' height='100%' viewBox='0 0 33 27' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M2.5 13.5L11 22L30.5 2.5' stroke='rgba(250,225,175,1)' stroke-width='6'/%3E%3C/svg%3E%0A");
			background-position: center;
			background-repeat: no-repeat;
		}
	}

	&:hover {
		border: 1px solid rgba(255, 255, 255, 1);
	}

	&:not(:last-child) {
		margin-right: 0.5rem;
	}
}
